<%- include('./components/headerComponent.ejs'); %>
<body onload="initProducts()">
<%- include('./components/navBarComponent.ejs'); %>
<main class="main">
    <div class="product-list">
        <% data.forEach(item => { %>
            <div class="product-card">
                <div class="product-card__image">
                    <img style="width: auto" src="" alt="zzzz">
                </div>
                <div class="product-cart__info">
                    <div class="product-card__info-name">Name: <p class="product-card__name"><%= item.name %></p></div>
                    <div class="product-card__info-price">price: <p class="product-card__price"><%= item.price %></p></div>
                </div>
                <div class="product-card__more-info">
                    <button onclick="pressBuy(${item.id})" class="product-card__button">buy</button>
                </div>
            </div>
            <%});%>

    </div>
    <div class="cart"></div>
</main>
<%- include('./components/footerComponent.ejs'); %>
<script type="text/javascript" src="/main.js"></script>
</body>
</html>